{   
    "proxy_address": "XXXXXXX",
    "proxy_port": X443,
    "ssl_cert" : "/certs/XXXXXX.cert",
    "ssl_key" : "/certs/XXXXX.key",
    "esup_otp-api_address": "XXXX",
    "esup_otp_api_port": "XXXX"
}